<% if current_user == @user %>
  <p>通讯录</p>
  <%= image_tag @user.headimgurl %>
  <%= @user.name %>

  <%= link_to organizations_path do %>
    <%= @user.organizations.count %>所在组织
  <% end %>
  <p>识别码</p><%= @user.identifier %>
  <p>手机号</p><%= @user.phone %>
  <p>所在组织</p>
  <% @user.organizations.each do |organization| %>
    <%= organization.name %>
  <% end %>
  <p>标签</p>
  <% @user.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% else %>
  <p>详细信息</p>
  <%= image_tag @user.headimgurl %>
  <%= @user.name %>
  <%= link_to "通话", "#" %>
  <%= link_to "短信", "#" %>
  <div id="favorite">
    <% if favorite?(current_user, @user) %>
      <%= render partial: "unfavorite", locals: {user: @user} %>
    <% else %>
      <%= render partial: "favorite", locals: {user: @user} %>
    <% end %>
  </div>
  <p>识别码</p><%= @user.identifier %>
  <p>手机号</p><%= @user.phone %>
  <p>所在组织</p>
  <% @user.organizations.each do |organization| %>
    <%= organization.name %>
  <% end %>
  <p>标签</p>
  <% @user.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<% end %>
