<li>
  <%= image_tag member.headimgurl %>
  <%= member.name %>  <%= member.phone %>
  <div id="contact-<%= member.id %>">
    <% if favorite?(current_user, member) %>
      <%= render partial: "slp_contacts/users/unfavorite", locals: {user: member} %>
    <% else %>
      <%= render partial: "slp_contacts/users/favorite", locals: {user: member} %>
    <% end %>
  </div>
</li>